$scale: 14px !default;
$breakpoint: 992px !default;
$sidebarShadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12) !default;

@import './_fonts';
@import './_utils';
@import './_typography';
@import './_animation';
@import './_main';
@import './_topbar';
@import './_search';
@import './sidebar/_sidebar';
@import './_content';
@import './_footer';
@import './_config';
@import './_responsive';
@import './_breadcrumb';

//Variable list

.layout-static-inactive {
    .layout-tab-view ul.p-tabview-nav {

        width: calc(100% - 56px) !important;
    }

}

.layout-tab-view ul.p-tabview-nav {

    width: calc(100% - 281px);
}

.ql-editor {
    padding: 8px 15px !important;
}

@media (max-width: 980px) {
    .layout-tab-view ul.p-tabview-nav {

        width: calc(100% - 57px);
    }
}

.layout-tab-view ul.p-tabview-nav {
    display: flex;
    justify-content: center;
    z-index: 99;
    position: fixed;
    height: 50px;
    margin-top: -2rem;
}

.layout-tab-view a.p-tabview-nav-link {
    height: 50px;
}

.layout-tab-view div.p-tabview-panels {

    margin-top: 1.5rem;
}




.p-dropdown .p-dropdown-label.p-placeholder {
    color: #adb5bd;
}

input::placeholder {
    color: #adb5bd;
}


// TREE

.p-treenode-label {
    width: 100%;
}


comment {
    cursor: pointer;
    background-color: rgb(34, 237, 7);
}

// COMMENTS


// MENTIONS

.ql-mention-list-container {
    z-index: 9999;
    background-color: #fff;
}

.ql-mention-list {
    padding: 1rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

    li {
        list-style: none;
        cursor: pointer;

    }

    li:not(:last-child) {
        margin-bottom: 0.8rem;

    }
}



.ql-mention-list-container.ql-mention-list-container-bottom {
    background: white;
}


// EDITOR

.ql-container {
    .ql-editor {
        min-height: calc(100vh - 20rem);
        max-height: calc(100vh - 20rem);
    }
}

.editor-tree {
    height: calc(100vh - 20rem);
    overflow: scroll;
}

.ql-editor {

    height: auto !important;
    text-overflow: scroll;

    .mention {
        color: blue;
        font-weight: bold;
    }

}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 0.5rem !important;
}


.p-dialog-content::-webkit-scrollbar,
.p-tabview p-component::-webkit-scrollbar,
.infinite-scroll-component::-webkit-scrollbar,
.ql-editor::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.p-dialog-content::-webkit-scrollbar,
.p-datatable-wrapper::-webkit-scrollbar,
.infinite-scroll-component::-webkit-scrollbar,
.ql-editor::-webkit-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.modal-profile {
    .p-tabview-panels {
        padding-left: 0;
        padding-right: 0;
    }
}