$scale: 14px !default;
$breakpoint: 992px !default;
$sidebarShadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12) !default;

@import './_fonts';
@import './_utils';
@import './_typography';
@import './_animation';
@import './_main';
@import './_topbar';
@import './_search';
@import './sidebar/_sidebar';
@import './_content';
@import './_footer';
@import './_config';
@import './_responsive';
@import './_breadcrumb';


// TREE

.p-treenode-label:has(.custom-background) {
    opacity: 0.2;

}


.p-treenode-label {
    width: 100%;
}


comment {
    cursor: pointer;
    background-color: rgb(34, 237, 7);
}

// COMMENTS
[data-tooltip] {
    position: relative;
}

[data-tooltip]:after {
    content: attr(data-tooltip);
    position: absolute;
    left: 50%;
    bottom: 0%;
    /* put it on the top */
    background-color: yellow;
    padding: 5px;
    width: max-content;
    opacity: 0;
    -webkit-transition: opacity 0.75s ease-in-out;
}

[data-tooltip]:hover:after {
    opacity: 1;

}

div[data-tooltip]:after {
    left: 5px !important;
}

// MENTIONS

.ql-mention-list {
    padding: 1rem;
    box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);

    li {
        list-style: none;
        cursor: pointer;

    }

    li:not(:last-child) {
        margin-bottom: 0.8rem;

    }
}



.ql-mention-list-container.ql-mention-list-container-bottom {
    background: white;
}


// EDITOR

.ql-container {
    .ql-editor {
        min-height: 50rem;
        max-height: 50rem;



    }
}


.ql-editor {


    .mention {
        color: blue;
        font-weight: bold;
    }

}

.p-datatable .p-datatable-tbody>tr>td {
    padding: 0.5rem !important;
}


.p-dialog-content::-webkit-scrollbar,
.infinite-scroll-component::-webkit-scrollbar,
.ql-editor::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.p-dialog-content,
.infinite-scroll-component::-webkit-scrollbar,
.ql-editor::-webkit-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}
