.div-editor-html {
    height: 53rem;
    background-color: white;
    overflow: scroll;
}

.div-editor-html::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */

.div-editor-html::-webkit-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.custom-label:hover {
    color: #073d8b;
    font-size: 1.1rem;
    transition: all 1s;
}

.tree div:global(.p-treenode-content) {
    padding: 0;
}

.input-node {
    font-weight: 800;
}

.input-node::placeholder {
    font-weight: lighter !important;
    opacity: 0.5;
}

.button-approve {
    position: sticky;
    bottom: 2%;
    margin-left: 47%;
    z-index: 9999;
}
